[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/imshaik
[access "refs/for/refs/*"]
	read = group user/imshaik
	push = group user/imshaik
	label-Code-Review = -2..+2 group user/imshaik
	label-Verified = -1..+1 group user/imshaik
	rebase = group user/imshaik
	removeReviewer = group user/imshaik
	submit = group user/imshaik
[access "refs/heads/*"]
	read = group user/imshaik
	create = group user/imshaik
	push = +force group user/imshaik
	pushMerge = group user/imshaik
[access "refs/tags/*"]
	push = group user/imshaik
	push = +force group user/imshaik
